*.pid
*.xml
*.csr
*.crt
*.key
www
OZW_Log.txt
home-assistant.log
home-assistant_v2.db
*.db-journal
lib
deps
tts
configuration.yaml.save
secrets.yaml
known_devices.yaml
*.conf
phue.conf
harmony_media_room.conf
.*
!/.gitignore
home-assistant_v2.db-wal
google_calendars.yaml
